@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
    width: 70%;
}

input[type=text] {
    border: 1px -solid #707070;
    width: 100%;
    padding: 1em;
    border-radius: .5em;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #F89104;
    border: none;
    width: 30%;
    height: 2.5em;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 1em;
    margin-top: 2.5em;
    text-align: center;
}

.button {
    display: block;
    width: 10%;
    height: fit-content;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    align-self: center;
    margin-left: 1em;
}

label {
    color: #2D7D98;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
    font-size: 2em;
}

form {
    display: flex;
}

.input-side {
    width: 70%;
}

.alert {
    width: 240px;
    height: fit-content;
    font-size: 20px;
    color: red;
    padding-left: 1em;
}