<html>

<head>
    <style>
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -100px;
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
        <a href="/register">Registration</a>
    </div>

</body>

</html>